<!DOCTYPE html>
<html>
<head>
    <title>make map</title>
    <link rel="stylesheet" href="static/style.css">
    <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
</head>
<body>
    <div id="overlay">
        <input type="text" id="objectInput" placeholder="Enter something...">
        <button id="generateGraph">Generate Graph</button>
        <div id="loading">Loading...</div>
    </div>
    <div id="mynetwork"></div>

</body>
<script src="static/script.js"></script>
</html>
